/*LOADING SCREEN*/
.loader_wrapper {
    width: 100%;
    height: 100%;
    position: fixed; /* Changed to fixed */
    top: 0;
    left: 0;
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Added z-index to ensure it's above other elements */
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 60px;
    aspect-ratio: 1;
    color: #ffffff;
    position: relative;
  }
  .loader::before,
  .loader::after {
    content: "";
    position: absolute;
    inset:0;
    background:
      linear-gradient(currentColor 0 0) 0 calc(var(--s,0)*-100%)/100% calc(100%/3),
      repeating-linear-gradient(90deg,currentColor 0 25%,#0000 0 50%) calc(var(--s,0)*100%) 50%/calc(4*100%/3) calc(100%/3);
    background-repeat: no-repeat;
    animation: l26 2s infinite;
  }
  .loader::after {
    --s:-1;
  }
  @keyframes l26 {
      0%,
      10%  {transform:translateY(calc(var(--s,1)*0));   background-position: 0 calc(var(--s,0)*-100%),calc(var(--s,0)*100%) 50%}
      33%  {transform:translateY(calc(var(--s,1)*-20%));background-position: 0 calc(var(--s,0)*-100%),calc(var(--s,0)*100%) 50%}
      66%  {transform:translateY(calc(var(--s,1)*-20%));background-position: 0 calc(var(--s,0)*-100%),calc(var(--s,0)*100% + 100%) 50%}
      90%,
      100%  {transform:translateY(calc(var(--s,1)*0));  background-position: 0 calc(var(--s,0)*-100%),calc(var(--s,0)*100% + 100%) 50%}
  }


/* Prevent scrolling when preload is active */
.preload {
    overflow: hidden;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease;
    pointer-events: none; /* Prevent interactions while fading out */
}
